@import url("https://fonts.cdnfonts.com/css/montreal");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #5b3f31;
  --foreground: #171717;
  --start-gold: #d1ab7d;
  --end-gold: #997b66;
  --bg-gold: linear-gradient(90deg, #d1ab7d, #997b66);
  --bg-gold-dark: linear-gradient(90deg, #b08e6a, #7a634f);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #5b3f31;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Montreal", Helvetica, sans-serif;
}

.button-transition {
  background: var(--bg-gold);
}

.button-transition:hover {
  background: var(--bg-gold-dark);
}
